.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  animation-duration: 2000ms;
}

// .navigation .logo {
//   margin-right: 85px;
// }

.logo-first-word {
  color: var(--accent-color);
}

.navigation {
  display: flex;
  align-items: center;

  .logo {
    margin-right: 85px;
  }
}

.navigation-list {
  display: flex;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.address-list {
  display: flex;
}

.address-list-item {
  display: block;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.header-contacts {
  display: flex;
}

// .address-list-item:not(:last-child) {
//   margin-right: 30px;
// }

.active::after {
  content:"" ;
  position: absolute;
  display: block;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);  
}


.header-tel,
.header-mail {
  display: flex;
  color: var(--secondary-font-color);
}

.navigation-list-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

}

.navigation-list-link,
.header-tel,
.header-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-font-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

// .navigation-list-link:hover,
// .navigation-list-link:focus,
// .header-tel:hover,
// .header-tel:focus,
// .header-mail:hover,
// .header-mail:focus {
//   color: var(--accent-color);
// }


.mail-icon,
.tel-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.active {
  color: var(--accent-color);
}